<div class="container-fluid">
  <div class="row page-title align-items-center">
    <div class="col-sm-4 col-xl-6">
      <h4 class="mb-1 mt-0">Doctor Details</h4>
    </div>
    <div class="col-sm-8 col-xl-6">
      <div class="float-sm-right mt-3 mt-sm-0">
        <a id="add-appointment" class="btn btn-primary" href="javascript:0;" role="button" (click)="goBack()">
          <i class="uil-arrow-circle-left ml-2"></i> back
        </a>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card">
        <div class="card-body">
          <div class="text-center mt-3">
            <div class="d-flex justify-content-center">
              <ngx-avatar name="{{doctor.fullName}}" size="80"></ngx-avatar>
            </div>
            <h4 class="mt-2 mb-0">{{doctor.fullName}}</h4>
            <h4 class="text-muted font-weight-normal mt-2 mb-0">{{doctor.email}}
            </h4>
            <h4 class="text-muted font-weight-normal mt-1">{{doctor.phonenumber}}</h4>
            <h4 class="text-muted font-weight-normal mt-1">{{doctor.daysAvailable}}</h4>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
