<div class="media mt-1 border-top pt-3">
  <div class="mr-2">
    <ngx-avatar name="{{name}}" size="50"></ngx-avatar>
  </div>

  <div class="media-body">
    <h6 class="mt-1 mb-0 font-size-15">{{ name }}</h6>
    <h6 class="text-muted font-weight-normal mt-1">{{ email }}</h6>
    <h6 class="text-muted font-weight-normal mt-1">{{ phone }}</h6>
  </div>
  <div class="align-self-center float-right">
    <button class="btn btn-info btn-sm" (click)="viewDoctor(id)">
      View
    </button>
  </div>
</div>
