<table class="table table-hover table-nowrap mb-0">
  <tbody>
    <tr *ngFor="let patient of patients">
      <td>
        <div class="media">
          <div class="mr-2">
            <ngx-avatar name="{{patient.fullName}}" size="50"></ngx-avatar>
          </div>
          <div class="media-body align-self-center">
            <h6 class="mt-1 mb-0 font-size-15">{{patient.fullName}}</h6>
          </div>
        </div>
      </td>
      <td class="vt-center">
        {{patient.email}}
      </td>
      <td class="vt-center">
        {{patient.phonenumber}}
      </td>

    </tr>

  </tbody>
</table>
