<div class="container-fluid">
  <div class="row page-title align-items-center">
    <div class="col-sm-4 col-xl-6">
      <h4 class="mb-1 mt-0">Appointment</h4>
    </div>
    <div class="col-sm-8 col-xl-6">
      <div class="float-sm-right mt-3 mt-sm-0">
        <a id="add-appointment" class="btn btn-primary" href="javascript:0;" role="button" (click)="addAppointment()">
          <i class="uil uil-book-medical ml-2"></i> Add Appointment
        </a>
      </div>
    </div>
  </div>

  <div class="row">

  </div>
</div>
