<div class="dialog-content-wrapper">
  <h2 mat-dialog-title>
    <span *ngIf="updating$ | async">Update Appointment</span>
    <span *ngIf="!(updating$ | async)">Add Appointment</span>
  </h2>

  <div mat-dialog-content class="mat-typography">

    <form [formGroup]="appointmentForm">
      <div *ngIf="hasFormErrors">
        <ngb-alert type="danger" (close)="close($event)">
          <span class="font-weight-bold">{{ errors | async  }}
          </span>
        </ngb-alert>
      </div>

      <div class="form-group">
        <mat-form-field appearance="outline">
          <mat-label>Description</mat-label>
          <textarea matInput placeholder="Description" rows="2" formControlName="description"></textarea>
          <mat-error *ngIf="isControlHasError('description','required')">
            <strong>Description required</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field appearance="outline">
          <mat-label>Patient</mat-label>
          <mat-select formControlName="patientId">
            <mat-option *ngFor="let patient of patients" [value]="patient.id">
              {{patient.fullName}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="isControlHasError('patientId','required')">
            <strong>Patient required</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field appearance="outline">
          <mat-label>Doctor</mat-label>
          <mat-select formControlName="doctorId" (selectionChange)="selectedDoctor($event)">
            <mat-option *ngFor="let doctor of doctors" [value]="doctor.id">
              {{doctor.fullName}}
            </mat-option>
          </mat-select>

          <mat-error *ngIf="isControlHasError('doctorId','required')">
            <strong>Doctor required</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field appearance="outline">
          <mat-label>Date</mat-label>
          <input matInput [matDatepicker]="picker" (click)="picker.open()" formControlName="date"
            [matDatepickerFilter]="myFilter" [min]="minDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="isControlHasError('date','required')">
            <strong>Date required</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field appearance="outline">
          <mat-label>Appointment Time</mat-label>
          <mat-select formControlName="appointmentTime">
            <mat-option *ngFor="let time of appointmentTimes" [value]="time">
              {{time}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="isControlHasError('appointmentTime','required')">
            <strong>Appointment Time required</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field appearance="outline">
          <mat-label>Appointment Type</mat-label>
          <mat-select formControlName="type">
            <mat-option *ngFor="let appointmentType of appointmentTypes" [value]="appointmentType">
              {{appointmentType}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="isControlHasError('type','required')">
            <strong>Appointment Type required</strong>
          </mat-error>
        </mat-form-field>
      </div>

    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-button cdkFocusInitial class="btn btn-primary" (click)="submit()">
      Submit</button> &nbsp; &nbsp;
    <button mat-dialog-close class="btn btn-danger">Cancel</button>
  </div>

</div>
